.parent{
    display: flex;
    flex-direction: column;
    height: 800px;
}
img{
    width:200px;
    height: 200px;
}
.head{
    float: left;
    background-color: rgb(235, 238, 240);
    width: 100%;
    height: 200px;
    color: black;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 10px;
    text-shadow: 2px 2px;
    font-size: 85px;
}
.head{
    flex: 0 0 200px;
    height: 200px;
    background-color: rgb(235, 224, 224);
}
.content{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    background-color: blue;
}
.m{
    padding: 10px;
    overflow: auto;
    flex: 1 1 auto;
    background-color: rgb(248, 242, 248);
}
.n{
    overflow: auto;
    flex: 0 0 200px;
    order: -1;
    background-color: rgb(19, 8, 68);
}
.foot{
    flex: 0 0 35px;
    background-color: rgb(247, 243, 247);
}
.foot img{
    width: 30px;
    height: 30px;
}
table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}
@media (max-width:600px){
    .content{
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        background-color: blue;
    }
}